body {
	background-color: black;
	color: palegoldenrod;
	max-width: 1248px;
	margin: auto;
	font-family: Helvetica, Arial, sans-serif;
}

div.topbox, div.mainbox, div.bottombox {
	background-color: black;
	border: 4px solid #444;
	margin-bottom: -4px;
}

div.mainbox {
	padding: 24px 15% 24px 15%;
}

div.bottombox {
	padding: 8px 15% 8px 15%;
	text-align: center;
}

a {
	color: goldenrod;
	font-weight: bold;
	text-decoration: none;
}